h1 {
  font-family: 'times new roman', sans-serif, helvetica;
  color: black;
}

img {
  height: auto;
  width: 700px;
}

ul {
  color: black;
  font-size: 24px;
  font-family: 'times new roman', sans-serif, helvetica;
}
